#section-1--home {
  background-image: url("../../dist/img/home/01.jpg");
}

#section-2--home {
  background-image: url("../../dist/img/home/03.jpg");
}

#section-3--home {
  background-image: url("../../dist/img/home/02.gif");
}

#section-4--home {
  background-image: url("../../dist/img/home/04.jpg");
}