@import "../../node_modules/bootstrap/scss/bootstrap.scss";

#section-1--falcon9 {
  background-image: url("../../img/falcon9/01.jpg");

  .main-content {
    min-height: 80vh;
  }
}

#section-2--falcon9 {
  background-color: #000;

  .main-content {
    min-height: 40vh;
  }

  p {
    font-size: 1.25rem;
  }
}

#section-3--falcon9 {
  background-image: url("../../img/falcon9/02.jpg");

  p {
    font-size: $font-size-base;
    line-height: 50px;
  }

  .main-content {
    height: 90vh;
  }
}

#section-4--falcon9 {
  .caroussel-item__container {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main-content--xsmall {
    margin-left: 0%;
    padding-top: 15%;
  }

  #caroussel-falcon9-1-1 {
    background-image: url("../../img/falcon9/03.jpg");
  }

  #caroussel-falcon9-1-2 {
    background-image: url("../../img/falcon9/04.jpg");
  }

  #caroussel-falcon9-1-3 {
    background-image: url("../../img/falcon9/05.jpg");
  }
  
  #caroussel-falcon9-1-4 {
    background-image: url("../../img/falcon9/06.jpg");
  }

  #caroussel-falcon9-1-5 {
    background-image: url("../../img/falcon9/07.jpg");
  }
}

#section-5--falcon9 {
  background-image: url("../../img/falcon9/08.jpg");

  .main-content--xsmall {
    margin-left: 0;
    padding-top: 15%;
  }
}

#section-6--falcon9 {
  .carousel-item {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .caroussel-caption-text {
    background-color: #000;
  }

  #caroussel-falcon9-2-1 {
    background-image: url("../../img/falcon9/09.jpg");
  }
  #caroussel-falcon9-2-2 {
    background-image: url("../../img/falcon9/10.jpg");
  }
  #caroussel-falcon9-2-3 {
    background-image: url("../../img/falcon9/11.jpg");
  }
  #caroussel-falcon9-2-4 {
    background-image: url("../../img/falcon9/12.jpg");
  }
  #caroussel-falcon9-2-5 {
    background-image: url("../../img/falcon9/13.jpg");
  }
  #caroussel-falcon9-2-6 {
    background-image: url("../../img/falcon9/14.jpg");
  }
}

#section-7--falcon9 {
  background-color: #000;
  height: 85vh;
  padding-top: 240px;
}

@include media-breakpoint-up(sm) {
  #section-3--falcon9 {
    p {
      font-size: 1.375rem;
    }
  }

  #section-4--falcon9 {
    .main-content--xsmall {
      margin-left: 13%;
    }
  }

  #section-5--falcon9 {
    .main-content--xsmall {
      margin-left: 13%;
    }
  }
}